body {
  background-color: #8B4513; /* Darker shade to match cedar wood color */
  background-image: url("cedar.jpg");
  background-size: cover; /* Ensures full coverage */
  color: #F5F5DC; /* Light beige color for text */
  font-family: "Arial, sans-serif"; /* Consistent font family */
  margin: 0;
  padding: 0; /* Utilize Bootstrap's padding */
}

h1 {
  color: #D2B48C; /* Tan color for headings */
}

.container {
  max-width: 800px; /* Maintain max-width for larger screens */
  background: rgba(121, 58, 13, 0.801); /* Semi-transparent cedar backdrop */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#humidorChart {
  width: 100%; /* Full responsive width */
  height: 400px; /* Fixed height for consistent display */
}

/* Enhanced media query for better mobile responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 20px; /* Smaller font size for smaller screens */
  }
  .container {
    padding: 15px; /* Reduced padding for smaller screens */
  }
}

/* Style adjustments for form controls and buttons for better usability */
input[type="datetime-local"] {
  background-color: #ffffff; /* Light background for inputs for better visibility */
  color: #333333; /* Dark text for contrast */
}

button {
  padding: 0.5rem 1.5rem; /* Adequate padding for touch targets */
}